<div class='text-center'>
  <h1 class="mb-5">Legless pets</h1>
  <div class='hero'></div>
  <p>
    Find your dream snake
  </p>
  <%= link_to "Listings", listings_path %>
  <br/>
  <%= link_to "Add new Listings", new_listing_path %>
</div>
